*{
    padding: 0px;
    margin: 0px;
    color: black;
.c1{
    height:60px;
    background-color:rgb(248, 248, 248) 
}
#A{
    margin-left: 100px;
    border-radius:8px;
    text-decoration-line: none;

}
label{
    margin-left:200px;
}
input{
    border-radius: 8px;
}
#b1{
    background-image: url( digital.jpg);
    background-size: cover;
}  
#h2{
    color:aliceblue;
    text-shadow:1px 1px  3px black;
    text-align: center;
    margin-top: 200px;
}
div{
    text-align: center;
    font-size:large;
    color: white;
    width:400px;
    margin-top: 100px;
    margin-left:500px;
}
button{
    text-shadow: 1px 1px 3px black;
    margin-top: 100px;
    font-size:large;
    border-radius:10px;
    width:150px;
    box-shadow:4px 4px 3px 2px  rgb(230, 93, 93) ;
    background-color:rgb(231, 158, 158) ;
}
h1{
    text-shadow:2px 2px 4px red;
    font-style: italic;
}
#div2{
    margin-left:30px;
}
.dc{
    border:8px ridge rgb(0, 0, 0);
    background-color: rgb(208, 9, 235);
    width:800px;
    height:200px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
    margin-left: 0px;

}
#flex1{
    width: 50px;
    height: 50px;
    background-color: rgb(233, 206, 170);
    margin-left: 0px ;
    margin-top: 0px;
}
#flex2{
    width: 50px;
    height:70px;
    background-color: rgb(201, 116, 5);
    margin-left: 0px ;
    margin-top: 0px;
}
#flex3{
    width: 50px;
    height: 90px;
    background-color: rgb(161, 32, 9); 
    margin-left: 0px ;
    margin-top: 0px;
}
#flex4{
    width: 50px;
    height: 20px;
    background-color: rgb(41, 10, 219);
    margin-left: 0px ;
    margin-top: 0px;
}
#flex5{
    width: 80px;
    height: 90px;
    background-color: rgb(7, 230, 81);
    margin-left: 0px ;
    margin-top: 0px;
}